/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   #header{
        background: #fffcec;
        border-top: 10px solid #a4da2f;
    }
    #top-header{
        height: 127px;
        width: 1000px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;
    }
    #top-header h2{
        position: absolute;
        left: 40px;
        margin: 0;
    }    

    #top-header ul{ 
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #login{
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 30px;
        background: #a4da2f;
        border-radius: 0 0 5px 5px;
        padding: 0 10px 10px 10px;
    }
    #login li{
        float: left;
    }
    #login li.login{
        margin-right: 10px;
    }
    #login li a{
        text-decoration: none;
    }

    #container{
        width: 1024px;
        margin: 0 auto;

    }

    #mainview{
        overflow: hidden;
        padding: 20px 0;
    }
    #left{
        float: left;
        width: 20%;
    }
    #right{
        float: right;
        width: 79%;
    }
    #right h1{
        margin: 0;
        padding: 0;
    }

/*    #right table{
        
        width: 100%;
        border-top: 1px solid #ccc; 
        border-left: 1px solid #ccc; 
        border-right: 1px solid #ccc; 
        font-family: Arial;

    }*/

/*    #right table tr th{

        background: url(../images/ui-bg_glass_65_a4da2f_1x400.png) repeat-x scroll 50% 50% #A4DA2F;
        color: #2f4400;
        border-bottom: 1px solid #A4DA2F;
        padding: 5px;
        font-weight: normal;
        font-size: 12px;
        text-align: left;
    }*/
/*    #right table td{
        
        border-bottom: 1px solid #ccc;
        padding: 5px;
        font-size: 13px;

    }

    #right .media td{
        height: 60px;
    }

    #right table td a{

        color: #2f4400;
        font-weight: bold;
        text-decoration: none;

    }

    #right table td a:hover{
        
        color: #A4DA2F;

    }*/

/*    #right input[type="text"]{
        border: 1px solid #b6b6b6;
        width: 98%;
        padding: 5px;
        font-size: 13px;
    }

    #right label{

        font-size: 14px;

    }

    #right select{

        border: 1px solid #b6b6b6;
        padding: 3px;
        font-size:14px;

    }

    #right option{

        margin-bottom: 3px;
    }*/

    .button {
        
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 3px 7px;
        font-size: 12px;
        background: #ddd;

    }

    .button:hover{
        
        background: url(../images/ui-bg_glass_65_a4da2f_1x400.png) repeat-x scroll 50% 50% #A4DA2F;
        border: 1px solid #A4DA2F;
        color: #2f4400!important;

    }

    .add-entry{

        background: #ddd;
        padding: 5px;
        display: block;
        font-size: 13px;
        font-weight: bold;
        color: #2f4400;
        text-decoration: none;
        border-radius: 10px;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        float: right;

    }

    .go-back{

        background: #ddd;
        padding: 5px;
        display: block;
        font-size: 13px;
        font-weight: bold;
        color: #2f4400;
        text-decoration: none;
        border-radius: 10px;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        float: left;

    }

    .add-entry:hover,
    .go-back:hover{

        background: url(../images/ui-bg_glass_65_a4da2f_1x400.png) repeat-x scroll 50% 50% #A4DA2F;
        border: 1px solid #A4DA2F;

    }

    .message{
        
        margin-top: 5px;
        margin-bottom: 0; 
    }

    .hide{
        display: none;
    }
    .image_notification{
        font-size: 11px;
        font-weight: bold;
    }

    #main-container{
        overflow: hidden;
        width: 650px;
        margin: 40px auto;
        padding: 0 20px;
    }

    #login-container{
        width: 300px;
        float: left;
    }

    #login-container form{
        border: 1px solid #A4DA2F;
        border-radius: 5px;
        background: #FFFCEC;
        padding: 5px 30px;
    }
    #main-container .logo{
        text-align: center;
    }
    #login-container label{
        display: block;
        text-align: left;
        font-size: 12px;
        color: #777;
    }
    
    #login-container input[type="text"],
    #login-container input[type="password"]{
        border: 1px solid #ccc;
        width: 98%;
        padding: 4px;
        font-size: 16px;
        color: #555;
    }

    #error{
        font-size: 12px;
        border: 1px solid red;
        border-radius: 5px;
        padding: 5px 30px;
        margin-bottom: 15px;
        background: #FFEBE8;
    }
    #error p{
        margin: 3px 0;
    }
    .signup{
        text-align: center;
        font-size: 12px;
        color: #256300;
    }
    .signup a{
        font-size: 12px;
        color: #256300;
    }

    #savings-deals{
        width: 300px;
        float: right;
    }

    #savings-deals h3{
        text-align: center;
        color: #2f4400;
    }

    #savings-deals p{
        text-align: justify;
    }










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
